{% extends "base.html" %}
{% load mytags %}

{#{% block title %}{% hello "my amazing blog"|upperfirst %}{% endblock %}#}

{% block content %}
    {#{% upper %}#}
{% for entry in blog_entries %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.body|upper|length }}</p>
{% endfor %}
    {#{% endupper %}#}
    
{% filter force_escape|lower %}
    This text will be HTML-escaped, and will appear in all lowercase.
{% endfilter %}

    {{ "This text will be HTML-escaped, and will appear in all lowercase."|force_escape|lower }}

{% include "link.html" with href=globals.social_links.github title="typovrak website" %}
{% endblock %}

